<div class="container mt-3">
  <h2>Employee Details</h2>
  <div class="employee-details-box">
      <div class="detail-item">
          <p><strong>First Name:</strong> {{ selectedEmployee?.first_name }}</p>
      </div>
      <div class="detail-item">
          <p><strong>Last Name:</strong> {{ selectedEmployee?.last_name }}</p>
      </div>
      <div class="detail-item">
          <p><strong>Email:</strong> {{ selectedEmployee?.email }}</p>
      </div>

      <div class="button-container">
          <button class="btn btn-info" routerLink="/employees">Employee List</button>
          <button class="btn btn-warning" routerLink="/employees/update/:id"> Update Employee</button>
          <button class="btn btn-danger" routerLink="/employees/delete/:id">Delete Employee</button>
      </div>
  </div>
</div>