
<div class="container">
    <h2>Employee Management</h2>
  
    <ul>
      <li *ngFor="let employee of employees">
        {{ employee.id }} - {{ employee.first_name }} {{ employee.last_name }}
        <button (click)="selectEmployee(employee)">Edit</button>
        <button (click)="deleteEmployee(employee.id)">Delete</button>
      </li>
    </ul>
  
    <app-employee-form
      [employee]="selectedEmployee"
      (addEmployee)="addEmployee($event)"
      (updateEmployee)="updateEmployee($event)"
    ></app-employee-form>
  </div>
<app-employee-form></app-employee-form>
